.navbar {
    background-color: #F3FCF8;
    box-shadow: 0 3px 10px #E1F7ED;
    border-radius: 10px;
    height: 70px;
}
.navbar-light .navbar-nav .nav-link {
    color: #323E73 ;
}

.active {
    color: #198643 !important ;
}

.nav-link {
    font-size: 17px;
}

.nav-link:hover {
    color: #198643 !important ;
}

.nav-item {
    padding-left: 13px;
}
.header-icons{
    margin-left:-10px ;
    margin-top: 5px;
}
.logo {
    width: 40px;
    height: 35px;
}


