.navbar {
  background-color: #f3fcf8;
  box-shadow: 0 3px 10px #e1f7ed;
  border-radius: 10px;
  height: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #323e73;
}

.active {
  color: #198643 !important ;
}

.nav-link {
  font-size: 17px;
  margin-right: 7px;
}

.nav-link.nav-header:hover {
  color: #198643 !important;
}

.logo {
  width: 40px;
  height: 35px;
  margin-right: -20px;
}

.nav-item {
  padding-left: 14px;
}

.header-icons {
  margin-right: -10px;
  margin-top: 5px;
}

.navbar-toggler {
  color: #323e73 !important;
  border-radius: 10px;
}

.navbar-toggler:focus {
  color: #323e73;
  outline: none;
  box-shadow: none;
}
.shopping-icon {
  background-image: url("../../assets/img/svg/Ellipse 1.svg");
  width: 50px;
  height: 45px;
  display: inline-block;
  padding-top: 15px;
}
.circle {
  color: #198643;
}
.shopping-card-icon {
  color: #e1f7ed;
}
.user-icon {
  position: relative;
  color: #e1f7ed;
  right: -2px;
  top: 12px;
}
.user-icon-image {
  position: relative;
  color: #e1f7ed;
  left: -6px;
  top: 12px;
}
.margin {
  margin-left: -15px;
}
.shopping-badge {
  position: relative;
  right: 1px;
  top: 9px;
}
.inline-block {
  display: inline-block;
  position: relative;
  right: -20px;
  cursor: pointer;
}
.inline-block-2 {
  /* margin-right: 34px; */
  display: inline-block;
  position: relative;
  right: -34px;
  top: -4px;
  cursor: pointer;
}
.headerDrop-menu {
  background: #fbfefd !important;
}
.headerDrop-item {
  font-size: 13px;
  color: #323e73;
}
.headerDrop-item:hover {
  background: none;
  color: #198643;
  border-bottom: 1px solid #eee;
}

.image-user-class {
  margin-left: 8px;
  position: relative;
  top: -1px;
  border-radius: 100%;
  width: 50px;
  height: 51px;
}

.border-violet {
  border: 2px solid green;
  border-radius: 100%;
  width: 50px;
  height: 51px;
}