.Image{
    position: relative;
    top: 130px;
margin-bottom: 300px;
}

.Title{
    text-align: center;
}

.Info{
    margin: 200px auto;
    position: relative;
    top:150px;
}

.Author{
    text-align: left;
    color: #23A455;
    display: flex;
    justify-content: left;
}

.Date{
    display: flex;
    justify-content: right;
}

.Topic{
    text-align: center;
    margin-bottom: 130px;
    position: relative;
    top:50px;
}