.teacher-back {
  background: #f3fcf8;
  box-shadow: 0 3px 6px #e1f7ed;
}

.teacher-png {
  width: 400px;
}

.teacher-title {
  font-size: 19px;
  color: #323e73;
  margin-top: 40px;
  margin-right: 140px;
}

/*miniSlider Styles*/

#miniGallery > .miniItems {
  width: 75px;
  height: 100%;
  float: right;
  text-align: center;
}

#miniGallery > .miniItems > img {
  width: 70%;
  margin-top: 40px;
}

#miniSlideshow {
  overflow: hidden;
  height: 100%;
  position: relative;
}

#miniSlideshow > #miniGallery {
  width: 500%;
  height: 100%;
  position: relative;
  right: 50px;
  transition: 0.5s;
}

#miniSlideshow > #miniRight {
  background: url("../../assets/img/icons/next.png") no-repeat;
  background-size: 70%;
  cursor: pointer;
  width: 40px;
  height: 180px;
  position: absolute;
  top: 55px;
  right: 0px;
}

#miniSlideshow > #miniLeft {
  width: 40px;
  background: url("../../assets/img/icons/left-arrow.png") no-repeat;
  background-size: 70%;
  cursor: pointer;
  height: 180px;
  position: absolute;
  top: 55px;
  left: 100px;
}

.mini-text {
  margin-top: 9px;
  font-size: 14px;
  color: #323e73;
}

/*miniSlider end*/
